<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>UploadFile</title>
    <style type="text/css">
        body{
            text-align: center;
        }
    </style>
</head>
<body>
<div class="topnav">
    <a class="active" href="home">Home</a>
    <a th:href="@{/addPost}">Dodaj post</a>
    <a th:href="@{/profile}">Profile</a>
    <a th:href="@{/login}">Logi In</a>
    <a th:href="@{/logout}">Logout</a>
</div>

<h2>Dodaj swoje zdjęcia: </h2>
<form th:action="@{/uploadFile}" th:object="${images}" method="post" enctype="multipart/form-data">
    <p>Dodaj zdjęcia: <input type="file" name="file" accept="image/*"></p>
    <input type="submit" value="Wstaw">
</form>
</body>
</html>