<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Creat new post</title>
    <style type="text/css">
        body{
            text-align: center;
        }
    </style>
</head>
<body>
<div class="topnav">
    <a class="active" th:href="@{/home}">Home</a>
    <a th:href="@{/addPost}">Dodaj post</a>
    <a th:href="@{/profile}">Profile</a>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:href="adminPanel" >AdminPanel</a>
    </div>
    <a th:href="@{/login}">Logi In</a>
    <a th:href="@{/logout}">Logout</a>
</div>
<h2>Dodaj swój nowy post na stronie</h2>
<form th:action="@{/addYourPost}" th:object="${newPost}" method="post">
    <p>Temat: <input type="text" th:field="*{topic}" ></p>
    <p>Kategoria: <input type="text" th:field="*{category}" ></p>
    <p><textarea  rows="30" cols="100"th:field="*{postText}" ></textarea></p>
    <input type="submit" value="Opublikuj">
</form>



</body>
</html>