<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADMINPANEL</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="topnav">
    <a class="active" href="home">Home</a>
    <a th:href="@{/addPost}">Dodaj post</a>
    <a th:href="@{/profile}">Profile</a>
    <a th:href="@{/login}">Logi In</a>
    <a th:href="@{/logout}">Logout</a>
</div>

<table th:each="user:${users}">
    <td>Imie: <span th:text="${user.getUsername()}" ></span></td>
    <td>Email: <span th:text="${user.getEmailAddress()}" ></span></td>
    <td>Hasło: <span th:text="${user.getPassword()}" ></span></td>
    <td>Urodziny: <span th:text="${user.getBirthday()}" ></span></td>
    <td>Rola: <span th:text="${user.getRole()}" ></span></td>
    <td><a th:href="@{/editUser/{id}(id=${user.id})}">Edit</a></td>
    <td><a th:href="@{/deleteUser/{id}(id=${user.id})}">Delete</a></td>
    </table>
<p>--------------------------------------------------------------------</p>
<table th:each="post:${posts}">
    <td>Temat: <span th:text="${post.getTopic()}" ></span></td>
    <td>Kategoria: <span th:text="${post.getCategory()}" ></span></td>
    <td>Treść: <span th:text="${post.getPostText()}" ></span></td>
    <td>Autor: <span th:text="${post.getUser()}" ></span></td>
    <td><a th:href="@{/editPost/{id}(id=${post.id})}">Edit</a></td>
    <td><a th:href="@{/deletePost/{id}(id=${post.id})}">Delete</a></td>

</table>
</body>

</html>