<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>

<div class="topnav">
    <a class="active" th:href="@{/home}">Home</a>
    <a th:href="@{/addPost}">Dodaj post</a>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:href="adminPanel" >AdminPanel</a>
    </div>
    <a th:href="@{/profile}">Profile</a>
    <a th:href="@{/login}">Logi In</a>
    <a th:href="@{/logout}">Logout</a>
</div>

<h3>Witaj <span th:text="${name}"></span> </h3>



<p>Najnowsze posty: </p>

<table th:each="post:${posts}" >
    <td>
  <tr> <a th:href="@{/checkProfile/{id}(id=${post.getUser().getUser_id()})}">Autor: <span th:text="${post.getUser().getUsername()}"></span></a> || </tr>
    <tr>Temat: <span th:text="${post.getTopic()}" ></span> || </tr>
    <tr>Kategoria: <span th:text="${post.getCategory()}" ></span> || </tr>
    <tr>Treść: <span th:text="${post.getPostText()}" ></span> || </tr>
    <tr> Zdjęcia: || </tr>
    <tr><a th:href="@{/readPost/{id}(id=${post.post_id})}"><button >Czytaj</button></a></tr>
    </td>

</table>


</body>
</html>