<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>

<div class="topnav">
    <a class="active" href="home">Home</a>
    <a th:href="@{/addPost}">Dodaj post</a>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:href="adminPanel" >AdminPanel</a>
    </div>
    <a th:href="@{/profile}">Profile</a>
    <a th:href="@{/login}">Logi In</a>
    <a th:href="@{/logout}">Logout</a>
</div>

<h3>Witaj <span th:text="${name}"></span> </h3>

<table>
    <th:block th:each="auth :${authorities}">
        <tr>
            <td th:text="${auth}">...</td>
        </tr>
    </th:block>
</table>

<p>Najnowsze posty: </p>

<li th:each="post:${posts}" >
   <a th:href="@{/checkProfile}"><p>Autor: <span  th:text="${post.getUser().getUsername()}"></span></p></a>
    <p>Temat: <span th:text="${post.getTopic()}" ></span></p>
    <p>Kategoria: <span th:text="${post.getCategory()}" ></span></p>
    <p>Treść:<p><p> <span th:text="${post.getPostText()}" ></span></p>
    <p> Zdjęcia:
        </p>

    <form th:action="@{/addYourComment}" th:object="${newComment}" method="post">
       <p> Wpisz swój komentarz: <input type="text" th:field="*{text}"></p>
        <p><input type="submit" value="Wyślij"></p>
    </form>
</li>
<li th:each="file:${files}">
    <img th:src="@{${file.photosImagePath}}">
</li>

</body>
</html>