<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
    <style type="text/css">
        .body{
            text-align: center;
        }
    </style>

    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="topnav">
    <a class="active" href="home">Home</a>
    <a th:href="@{/addPost}">Dodaj post</a>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:href="adminPanel" >AdminPanel</a>
    </div>
    <a th:href="@{/profile}">Profile</a>
    <a th:href="@{/login}">Logi In</a>
    <a th:href="@{/logout}">Logout</a>
</div>
<h2>Udało Ci się dodać twój post <span th:text="${name}"></span> !!!!!!!!!!</h2>



</body>
</html>