<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profile of user : ...</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="topnav">
    <a class="active" href="home">Home</a>
    <a th:href="@{/addPost}">Dodaj post</a>
    <a th:href="@{/profile}">Profile</a>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:href="adminPanel" >AdminPanel</a>
    </div>
    <a th:href="@{/login}">Logi In</a>
    <a th:href="@{/logout}">Logout</a>
</div>


</body>
</html>